Options -MultiViews
DirectoryIndex Views/Home.view.php

RewriteEngine On

RewriteBase /dwp2020/dwp-app/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([^/]+)/? index.php?url=$1 [QSA,L]